@model HappyFarmProject.Models.PurchasingDetailRequest

@{
    ViewBag.Title = "Tambah Produk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Tambah Produk</h2>
@using (Html.BeginForm("Add", "Purchasing", FormMethod.Get, new { id = "changeCategory" }))
{
    <input type="text" id="Category" name="Category" style="display: none" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="CategoryId" class="control-label col-md-2">Kategori <span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="GoodsId" class="control-label col-md-2">Produk <span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GoodsId, ViewBag.Products as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GoodsId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Price" class="control-label col-md-2">Harga </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Qty" class="control-label col-md-2">Jumlah <span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Kembali", "Index", "Purchasing", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Tambah" class="btn btn-primary btn-margin-left" />
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#Price").val(@(ViewBag.Price));

        $("#CategoryId").change(() => {
            const x = $("#CategoryId").children("option:selected").val();
            $("#Category").val(x);
            console.log($("#Category").val());
            $("#changeCategory").submit();
        })
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
