@model HappyFarmProjectWebAdmin.Models.AddPurchasingRequest

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPA.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm("Add", "ProductionAdminPurchasing", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Pembelian Produk</h4>
        <hr /><br />
        <div class="card">
            <div class="card-header">
                Data Petani
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="FarmerName" class="control-label col-md-2">Nama Petani <span style="color:red">*</span></label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FarmerName, new { htmlAttributes = new { @class = "form-control", id = "FarmerName" } })
                        @Html.ValidationMessageFor(model => model.FarmerName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="FarmerPhone" class="control-label col-md-2">No Telepon Petani <span style="color:red">*</span></label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FarmerPhone, new { htmlAttributes = new { @class = "form-control", id = "FarmerPhone" } })
                        @Html.ValidationMessageFor(model => model.FarmerPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="FarmerAddress" class="control-label col-md-2">Alamat Petani <span style="color:red">*</span></label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.FarmerAddress, 3, 100, new { @class = "form-control", id = "FarmerAddress" })
                        @Html.ValidationMessageFor(model => model.FarmerAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            Detail Produk
        </div>
        <div class="card-body">
            @Html.ActionLink("Tambah Produk", "AddDetail", "ProductionAdminPurchasing", null, new { @class = "btn btn-primary", style = "margin-bottom: 20px", id = "addProduct" })
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        Nama Produk
                    </th>
                    <th>
                        Jumlah Produk
                    </th>
                    <th>
                        Harga Produk
                    </th>
                    <th>
                        Aksi
                    </th>
                </tr>

                @foreach (var item in Model.PurchasingDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoodsName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" id="btn-delete@(item.GoodsId)">Hapus</button>
                            @Html.ActionLink("Ubah", "EditDetail", "ProductionAdminPurchasing", new { id = item.GoodsId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </table>
            @* Error Data Empty *@
            @if (TempData["ErrMessageDetail"] != null)
            {
                <div class="data-err">
                    @TempData["ErrMessageDetail"]
                </div>
            }
        </div>
    </div>

    <br />
    <div class="card">
        <div class="row" style="padding-top:1%; padding-left:5%">
            <div class="col-8" style="font-size: 24px">
                @Html.Raw(ViewBag.TotalPurchases)
            </div>
            <div class="col-4">
                <div class="form-group btn-box">
                    <div class="col-md-offset-2 col-md-10" style="display:flex">
                        @Html.ActionLink("Kembali", "Index", "ProductionAdminPurchasing", null, new { @class = "btn btn-danger" })
                        <input type="submit" value="Tambah" class="btn btn-primary btn-margin-left" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var item in Model.PurchasingDetails)
{
    using (Html.BeginForm("DeleteDetail", "ProductionAdminPurchasing", new { id = item.GoodsId }))
    {
        <!-- The Delete Modal -->
        <div id="deleteModal@(item.GoodsId)" class="modal" style="display:none">
            <!-- Delete Modal content -->
            <div class="modal-content">
                <div class="modal-content--header">
                    <span class="close" id="close@(item.GoodsId)">&times;</span>
                    <p>Hapus Detail Produk</p>
                </div>
                <hr style="width: 100%" />
                <div class="modal-content--description">
                    Anda yakin akan menghapus data @item.GoodsName?
                </div>
                <hr style="width: 100%" />
                <div class="modal-content--footer">
                    <a href="#" class="btn btn-secondary" onclick="closeModalDelete@(item.GoodsId)();return false;" style="margin-bottom: 10px; margin-top: -5px">Tutup</a>
                    <input type="submit" value="Hapus" class="btn btn-danger" style="margin-bottom: 10px; margin-top: -5px" />
                </div>
            </div>
        </div>

        <script>
            // Get the modal
            var modal@(item.GoodsId) = document.getElementById("deleteModal@(item.GoodsId)");

            // Get the <span> element that closes the modal
            var span = document.getElementById("close@(item.GoodsId)");

            modal@(item.GoodsId).style.display = "none";

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal@(item.GoodsId).style.display = "none";
            }

            function closeModalDelete@(item.GoodsId)() {
                modal@(item.GoodsId).style.display = "none";
            }

            const btn@(item.GoodsId) = document.getElementById("btn-delete@(item.GoodsId)");
            btn@(item.GoodsId).addEventListener('click', () => {
                modal@(item.GoodsId).style.display = "block";
            })
        </script>
    }
}

@if (TempData["ErrMessage"] != null && @TempData["ErrHeader"] != null)
{
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-content--header">
                <span class="close">&times;</span>
                <p>@TempData["ErrHeader"]</p>
            </div>
            <hr style="width: 100%" />
            <div class="modal-content--description">
                @TempData["ErrMessage"]
            </div>
            <hr style="width: 100%" />
            <div class="modal-content--footer">
                <a href="#" class="btn btn-danger" onclick="closeModal();return false;" style="margin-bottom: 10px; margin-top: -5px">Tutup</a>
            </div>
        </div>

    </div>

    <script src="~/Scripts/data-error.js"></script>
}


<script>
    $(document).ready(() => {
        $('#addProduct').click(() => {
            $.ajax({
                type: 'POST',
                url: 'Tambah/Session',
                data: {
                    FarmerName: $("#FarmerName").val(),
                    FarmerAddress: $("#FarmerAddress").val(),
                    FarmerPhone: $("#FarmerPhone").val(),
                },
                dataType: 'json',
                success: function (data) {
                    console.log('berhasil');
                }
            })
        })
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
