@model HappyFarmProjectWebAdmin.Models.LoginRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Happy Farm</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login-util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-32">
                        Account Login
                    </span>

                    <span class="txt1 p-b-11">
                        Nama Pengguna
                    </span>
                    <div class="wrap-input100 m-b-36">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })

                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Kata Sandi
                    </span>
                    <div class="wrap-input100 m-b-12">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt3">
                                Lupa Kata Sandi?
                            </a>
                        </div>
                    </div>

                    if (TempData["ErrMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible alert-validate-login" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            @TempData["ErrMessage"]
                        </div>
                    }

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/jquery")
    <!--===============================================================================================-->
    <script src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login.js"></script>

</body>
</html>