@model HappyFarmProject.Models.Profile

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Profil Saya</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label for="Name" class="control-label col-md-2">Nama <span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="PhoneNumber" class="control-label col-md-2">Nomor Telepon <span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Email" class="control-label col-md-2">Email <span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Gender" class="control-label col-md-2">Jenis Kelamin <span style="color:red">*</span></label>
            <div class="col-md-10">
                <div style="display: flex; align-items: center">
                    @Html.RadioButtonFor(model => model.Gender, "M", new { @class = "rb-male" })
                    Laki-Laki

                    @Html.RadioButtonFor(model => model.Gender, "F", new { @class = "rb-female" })
                    Perempuan
                </div>
                <br />
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group btn-box">
            <div class="col-md-offset-2 col-md-10" style="display:flex">
                <input type="submit" value="Simpan Perubahan" class="btn btn-primary btn-margin-left" />
            </div>
        </div>
    </div>
}


@if (TempData["ErrMessage"] != null && @TempData["ErrHeader"] != null)
{
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-content--header">
                <span class="close" id="closeErrModal">&times;</span>
                <p>@TempData["ErrHeader"]</p>
            </div>
            <hr style="width: 100%" />
            <div class="modal-content--description">
                @TempData["ErrMessage"]
            </div>
            <hr style="width: 100%" />
            <div class="modal-content--footer">
                <a href="#" class="btn btn-danger" onclick="closeModal();return false;" style="margin-bottom: 10px; margin-top: -5px">Tutup</a>
            </div>
        </div>

    </div>

    <script src="~/Scripts/data-error.js"></script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
