@using PagedList
@using PagedList.Mvc
@model IPagedList<HappyFarmProject.Models.HistoryTransaction>

@{
    ViewBag.Title = "Riwayat Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Riwayat Transaksi</h2>
<hr />

@using (Html.BeginForm("Index", "HistoryTransaction", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <h5>Cari Data:</h5>
    <div class="search-box">
        <div class="search-box__find">
            @Html.Editor("Search", new { htmlAttributes = new { @class = "form-control search-box__content", placeholder = "Masukkan kata yang dicari" } })
        </div>
    </div>
    <br />
    <h5>Cari berdasarkan tanggal:</h5>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tanggal Awal</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" id="tgl_awal" name="tgl_awal" autocomplete="off" value="@ViewBag.TglAwal">
                </div>
            </div>
            <div class="form-group">
                <label>Tanggal Akhir</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" id="tgl_akhir" name="tgl_akhir" autocomplete="off" value="@ViewBag.TglAkhir">
                </div>
            </div>
        </div>
    </div>

    <input type="submit" name="search-btn" value="Cari" id="search-btn" class="btn btn-primary" style="margin-left: 5px" />
}

<table class="table table-bordered table-striped" style="margin-top: 20px">
    <tr>
        <th align="center">
            @Html.ActionLink("Order Id", "Index", new { Sorting_Order = ViewBag.SortingId })
        </th>
        <th align="center">
            @Html.ActionLink("Tanggal Pembelian", "Index", new { Sorting_Order = ViewBag.SortingTanggal })
        </th>
        <th align="center">
            @Html.ActionLink("Total Penjualan", "Index", new { Sorting_Order = ViewBag.SortingTotalSalePrice })
        </th>
        <th align="center">
            @Html.ActionLink("Ongkos Kirim", "Index", new { Sorting_Order = ViewBag.SortingShippingCharges })
        </th>
        <th align="center">
            @Html.ActionLink("Status Transaksi", "Index", new { Sorting_Order = ViewBag.SortingSellingActivity })
        </th>
        <th align="center">
            Aksi
        </th>
    </tr>

    @foreach (var item in (IEnumerable<HappyFarmProject.Models.HistoryTransaction>)Model)
    {
        <tr>
            <td>
                @Html.Raw("ORD" + item.Id.ToString().PadLeft(4, '0'))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td align="right">
                @Html.Raw("Rp.") @Html.DisplayFor(modelItem => item.TotalSalePrice)
            </td>
            <td align="right">
                @Html.Raw("Rp.") @Html.DisplayFor(modelItem => item.ShippingCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSellingActivity)
            </td>
            <td>
                @if (item.LastSellingActivity == "Menunggu Pembayaran")
                {
                    <a href="@Url.Action("UploadBuktiTransfer","HistoryTransaction", new { id = item.Id })" class="btn btn-success">Upload bukti transfer</a>
                }
                else if (item.LastSellingActivity == "Belum Direview")
                {
                    <a href="@Url.Action("Feedback","HistoryTransaction", new { id = item.Id })" class="btn btn-success">Review Order</a>
                }
                <a href="@Url.Action("SellingDetails","HistoryTransaction", new { id = item.Id })" class="btn btn-primary">Detail Pemesanan</a>
            </td>
        </tr>
    }

</table>
@* Error Data Empty *@
@if (TempData["ErrMessageData"] != null)
{
    <div class="data-err">
        @TempData["ErrMessageData"]
    </div>
}

@* Paging *@
<br />
    Halaman @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) dari @Model.PageCount
    @Html.PagedListPager((IPagedList)Model, Page_No => Url.Action("Index", new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder }))

    @if (TempData["ErrMessage"] != null && @TempData["ErrHeader"] != null)
    {
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-content--header">
                    <span class="close">&times;</span>
                    <p>@TempData["ErrHeader"]</p>
                </div>
                <hr style="width: 100%" />
                <div class="modal-content--description">
                    @TempData["ErrMessage"]
                </div>
                <hr style="width: 100%" />
                <div class="modal-content--footer">
                    <a href="#" class="btn btn-danger" onclick="closeModal();return false;" style="margin-bottom: 10px; margin-top: -5px">Tutup</a>
                </div>
            </div>

        </div>
        <script src="~/Scripts/data-error.js"></script>
    }

    <script>
        $(function () {
            $("#tgl_awal").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#tgl_akhir").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
