@model HappyFarmProjectWebAdmin.Models.ChangePasswordRequest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSALA.cshtml";
}

@using (Html.BeginForm("Edit", "ChangePassword"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ubah Nama Pengguna dan Kata Sandi Akun</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="Username" class="control-label col-md-2">Nama Pengguna<span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="control-label col-md-2">Kata Sandi<span style="color:red">*</span></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group btn-box">
            <div class="col-md-offset-2 col-md-10" style="display:flex">
                @Html.ActionLink("Kembali", "Index", "SalesAdminSellingActivity", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Ubah" class="btn btn-primary btn-margin-left" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

</script>

@if (TempData["ErrMessage"] != null && @TempData["ErrHeader"] != null)
{
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-content--header">
                <span class="close">&times;</span>
                <p>@TempData["ErrHeader"]</p>
            </div>
            <hr style="width: 100%" />
            <div class="modal-content--description">
                @TempData["ErrMessage"]
            </div>
            <hr style="width: 100%" />
            <div class="modal-content--footer">
                <a href="#" class="btn btn-danger" onclick="closeModal();return false;" style="margin-bottom: 10px; margin-top: -5px">Tutup</a>
            </div>
        </div>

    </div>

    <script src="~/Scripts/data-error.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
